header {
    background-color: #000; /* Черный фон */
    color: #fff;
    /* padding: 10px ; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Убедитесь, что панель поверх всего */
}
