body,
html {
  font: medium Calibri;
}
.main {
  border: 1px solid black;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
  margin-top: 120px;
}
header {
  background-color: black; /* Черный фон */
  color: white;
  padding: 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  z-index: 1000; /* Убедитесь, что панель поверх всего */
  align-items: center;
  justify-content: space-between;
}
.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.header-row {
  display: flex;
  width: 100%;
}
.header-row h3 {
  margin: 0;
  font: medium Calibri;
  justify-content: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.header-second-row h3 {
  margin: 0;
  font: x-large Calibri;
}
.btns {
  display: none;
}
.filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  background-color: Gainsboro;
  padding: 7px;
}
.common {
  border: 1px solid white;
  padding: 2px;
}
.article {
  display: block;
}
.title {
  font-weight: bold;
}
.text {
  display: none;
}
.textItalic {
  font-style: italic;
}
.menu-icon,
.search-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #333;
  font-size: 18px; /* Или medium */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px; /* Ширина меню */
  height: 100%;
  background-color: black; /* Цвет фона меню */
  overflow: auto;
  transform: translateX(-100%); /* Скрываем меню за пределами экрана */
  transition: transform 0.3s ease;
  z-index: 999; /* Убедитесь, что меню над контентом */
  margin-top: 111px;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 5px;
  padding-left: 40px;
  color: white;
  font: medium;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-align: left;
  display: block;
}
nav.show {
  transform: translateX(0);
}
.current-page {
  color: SteelBlue; /* Или любой другой цвет для выделения */
}
.close-menu {
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  text-align: left;
}
#search {
  position: fixed;
  top: 50px;
  right: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
#search.show {
  transform: translateX(0);
}
.show {
  display: block;
}
#search input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

#search button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.highlight {
  background-color: yellow;
}
